/*Principal navigation container*/
.navbar {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    min-height: 70px;
    color: #000;
}

/*Logo container*/
.navbar-inverse .navbar-brand{
    height: 70px;
    padding: 12px 25px 0 20px ;
    font-size: 35px;
    color: #000;
}

.navbar-inverse .navbar-brand>img {

   height: 38px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

/*Menu container*/
.navbar-nav>li>a{
    padding: 25px 25px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus{
    background-color: transparent;
    color: #999999;
}

/*Responsive button design*/
.navbar-inverse .navbar-toggle{
    border-color: #F8F8F8;
    background-color: #0f0f0f;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #999999;
}

/*Submenu container*/
.navbar-inverse .navbar-nav>.open>a{
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #999999;
}

.navbar-nav>li>.dropdown-menu {
    font-size: 15px;
    color: #000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #999999;
}

/*Information container*/

.jumbotron{
    background-color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/*Image container*/
.profile-image{
    padding: 25px 50px 25px 50px;
    align-self: center;

}

.profile-image img{
    width:200px;
    height:200px;
}

/*Description and data container*/

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
}

/*Description container*/

.autor-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 18px;
}

.autor-title .btn{

}
.name{
    font-size: 20px;
    color: #1b6d85;
    padding-right: 20px;

}

.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 65px 0 65px;
    width: 325px;
}

.profile-description p{
    font-size: 16px;
}

.statistic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
    color: #1b6d85;
}

/*Data container*/

.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 65px 0 65px;
    width: 325px;

}

.profile-data p{
    text-align: left;
    font-size: 18px;
}

.profile-data ul{
    padding: 0;
}

.profile-data li{
    list-style: none;
    text-align: left;
    display:inline-block;
    padding: 3px;
}

.profile-data .statistic p{
    font-size: 16px;
}

/*Register page*/

.custom-label{
    padding: 15px 0 0 0;
}

.custom-input{
    margin-bottom: 10px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.custom-modal-header{
    margin-bottom: 25px;
    text-align: center;
}
.custom-modal-header h3{
   margin: 0;
}

.modal-header img{
    max-width: 230px;
}

/*Custom input type file*/

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*Custom information header on profile page*/

.custom-modal-header-message{
    animation: colorchange 4s;
}

@keyframes colorchange
{
    50%      {background:greenyellow;}
    100%    {background:transparent;}
}


/*Gallery*/

.custom-images img{

}


/*Custom search*/

.custom-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.custom-input-search{
    padding: 10px;
}

/*Custom logout*/

.custom-logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.custom-logout p{
padding-left: 3px;
}


/* MEDIA QUERIES: Large and single devices*/
@media only screen and (max-width: 1200px) {
    .autor-title{
        font-size: 16px;
        color: #1b6d85;
        padding-bottom: 18px;

}

.profile{
    padding: 0 40px 0 40px;
    flex-direction: column;
}

.name{
    font-size: 18px;
    color: #1b6d85;
    padding-right: 15px;
}

.autor-title>a{
    font-size: 12px;
}

.profile-description{
    padding: 20px 40px 0 40px;
    width: 290px;
}

.profile-description p{
    font-size: 14px;
}

.profile-data{
    padding: 30px 40px 0 40px;
    width: 290px;

}

.profile-data p{
    font-size: 16px;
}

.profile-data li>button{
    font-size: 12px;
}

.profile-data .statistic p{
    font-size: 14px;
}

}


@media only screen and (max-width: 768px) {

.custom-search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

}