{% extends "skeleton.html" %}
{% block mainContainer %}

<div class="jumbotron">
    <div class="container text-center">
      <div class="custom-container">
        <div class="profile-image">
        {% for user in user_info %}
          {% if user.avatar != None %}
          <img src='data:image/png;base64, {{ user.avatar.encode("base64") }}' class="img-circle"  alt="Image">
          {% else %}
          <img src='static/images/profile-icon.png' class="img-circle"  alt="Image">
          {% endif %}
        </div>
        <div class="profile">
          <div class="profile-description">
            <div class="autor-title">
              <div class="name">{{ user.nickname }}</div>
              {% if current_user %}
              <form action="/profile" method="get" >
                <input type="submit" name="submit" class="btn btn-primary btn-block" value="Edit"/>
              </form>
              {% elif follow %}
              <form action="/follow?u={{user.user_id}}" method="post">
                <input type="submit" name="submit" class="btn btn-primary btn-block" value="Unfollow"/>
              </form>
              {% else%}
              <form action="/follow?f={{user.user_id}}" method="post">
                <input type="submit" name="submit" class="btn btn-primary btn-block" value="Follow"/>
              </form>
              {% endif %}
            </div>
            {% if user.description == None %}
            <p> "Not description yet"</p>
            {% else %}
            <p> "{{user.description}}"</p>
            {% endif %}
            <div class="statistic">
              <p>Followers: {{ n_followers }}</p>
              <p>Follow: {{ n_follow }}</p>
            </div>
          </div>
          <div class="profile-data">
            <p>Tags:</p>
            <ul>
              {% if user.tags %}
              {% for tag in user.tags.keys() %}
              <li><button type="button" class="btn btn-default">{{ tag }}</button></li>
              {% endfor %}
              {% else %}
              Not tags yet
              {% endif %}
            </ul>
            <div class="statistic">
              <p>Publications: {{ user.publications }}</p>
              {% endfor %}
             </div>
           </div>
        </div>
      </div>
    </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h3>Lastest photos</h3><br>
      <div class="row">
         {% for image in images %}
        <div class="col-sm-3 custom-images">
          <p>{{ image.title }}</p>
          {% if image.image_info %}
          <a href="#"><img src='data:image/png;base64, {{ image.image_info.encode("base64") }}' class="img-responsive"  alt="Image"></a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}