{% extends "skeleton.html" %}
{% block mainContainer %}

<div class="jumbotron">
    <div class="container text-center">
      <div class="custom-container">
        <div class="profile-image">
        {% for user in user_info %}
          {% if user.avatar != None%}
          <img src='data:image/png;base64, {{ user.avatar.encode("base64") }}' class="img-circle"  alt="Image">
          {% else %}
          <img src='static/images/profile-icon.png' class="img-circle"  alt="Image">
          {% endif %}
        </div>
        <div class="profile">
          <div class="profile-description">
            <div class="autor-title">
              <div class="name">{{ user.nickname }}</div>
              <button type="button" class="btn btn-primary">Follow</button>
            </div>
            <p>"{{ user.description }}"</p>
            {% endfor %}
            <div class="statistic">
              <p>Followers: 9</p>
              <p>Follow: 1</p>
            </div>
          </div>
          <div class="profile-data">
            <p>Tags:</p>
            <ul>
              <li><button type="button" class="btn btn-default">Culture</button></li>
              <li><button type="button" class="btn btn-default">Videogames</button></li>
              <li><button type="button" class="btn btn-default">Others</button></li>
            </ul>
            <div class="statistic">
              <p>Publications: 19</p>
             </div>
           </div>
        </div>
      </div>
    </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h3>Lastest photos</h3><br>
      <div class="row">
         {% for image in images %}
        <div class="col-sm-3 custom-images">
          <p>{{ image.title }}</p>
          {% if image.image_info != None %}
          <img src='data:image/png;base64, {{ image.image_info.encode("base64") }}' class="img-responsive"  alt="Image">
          {% else %}
          <p>No uploaded images</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}