{% extends "skeleton.html" %}
{% block mainContainer %}
<div class="container">
   <div class="row">
      <div class="span12">
         <div class="" id="loginModal">
            <div class="modal-body">
               <div class="modal-header">
                  <h3>Upload an Image</h3>
               </div>
               <div class="well">
                  {% for user in user_info %}
                  <form action="/upload" method="post" role="form" enctype="multipart/form-data" onSubmit="return check()">
                     {% endfor %}
                     <!-- Title -->
                     <label for="title" class="custom-label">Title:</label>
                     <input type="text" id="title" name="title" class="form-control custom-input" placeholder="Any title" required autofocus>
                     <!-- Category -->
                     <label for="category" class="custom-label">Category:</label>
                     <select class="form-control custom-input" name="category" id="category">
                        {% for category in categories %}
                        <option>{{ category }}</option>
                        {% endfor %}
                     </select>
                     <!-- Comment-->
                     <label for="comment" >Comment:</label>
                     <textarea name="comment" id="comment" class="form-control custom-input" placeholder="max 170 characters" maxlength="170"></textarea>
                     <!-- Image -->
                     <label>Image:</label>
                     <span class="btn btn-default btn-block btn-file">Browse <input type="file" name="img"  class="form-control custom-input" accept='image/*' id="i_file" required></span>
                     <input type="submit" name="submit" class="btn btn-primary btn-block" id="i_submit" value="Upload"/>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
